$yellow-hover: rgba(230, 218, 59,.9);
$yellow: rgba(230,218,59,1);

body {
  background-color: #101010;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  font-family: 'Righteous', cursive;

}
main {
  flex: 1 0 auto;
}

.black {
  background: #050505 !important;
}

.parallax-container {
  height: calc(100vh - 64px);
  color: rgba(255,255,255,.9);
}

a {
  color: $yellow;
  transition: all .3s ease;
  &:hover {
    color: $yellow-hover !important;
    box-shadow: 0px 1px 0px 0px $yellow-hover;
  }
}

#index-banner {
  display: flex;
  justify-content: center;
  .subtitle {
    font-style: italic;
  }
}

.section {
  background-color: rgba(0,0,0,.5);
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  align-self: flex-end;
  .container {
    align-self: center;
  }
  &-header {
    font-size: 5rem;
    font-weight: bold;
  }
  &-subtitle {
    font-size: 3rem;
  }
  &-content {
    font-size: 1.5rem;
  }

}
